PivotWeb4120/xsd/pivot-delete-result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://pivot.tourismewallonie.be/files/xsd/pivot/3.1"
    xmlns:pim="http://pivot.tourismewallonie.be/files/xsd/pivot/3.1">
    <xs:element name="result">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="value" type="pim:TDeleteState"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="TDeleteState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="deleted"/>
            <xs:enumeration value="error"/>
            <xs:enumeration value="archived"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
