PivotWeb4120/xsd/pivot-cirkwi-poi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="pois">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="poi" type="poi"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:token" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="poi">
		<xs:sequence maxOccurs="1" minOccurs="0">
			<xs:element ref="categories"/>
			<xs:element ref="tags_prives"/>
			<xs:element ref="informations"/>
			<xs:element name="adresse" type="adresse"/>
			<xs:element ref="dates"/>
			<xs:element name="auteur" type="auteur"/>
			<xs:element name="lien" type="xs:string"/>
			<xs:element ref="externalLinks"/>
			<xs:element name="diffusion" type="diffusion"/>
		</xs:sequence>
		<xs:attribute name="numero" type="xs:string"/>
		<xs:attribute name="id_poi" type="xs:token" use="required"/>
		<xs:attribute name="code_cgt" type="xs:token" use="required"/>
		<xs:attribute name="date_modification" type="xs:token" use="required"/>
		<xs:attribute name="date_creation" type="xs:token" use="required"/>
		<xs:attribute name="id_utilisateur" type="xs:token"/>
		<xs:attribute name="publie_cirkwi" type="xs:int"/>
		<xs:attribute name="publie_reseau_cdf" type="xs:int"/>
	</xs:complexType>

	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="categorie" type="categorie"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="categorie">
		<xs:attribute name="id_categorie" type="xs:int" use="required"/>
		<xs:attribute name="nom" type="xs:token" use="optional"/>
	</xs:complexType>

	<xs:element name="tags_prives">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="tag_prive" type="tag_prive"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tag_prive">
		<xs:attribute name="id" type="xs:token" use="optional"/>
		<xs:attribute name="nom" type="xs:token" use="required"/>
	</xs:complexType>

	<xs:element name="informations">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="information" type="information"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="information">
		<xs:sequence>
			<xs:element minOccurs="0" name="titre" type="xs:string"/>
			<xs:element minOccurs="0" name="description" type="xs:string"/>
			<xs:element minOccurs="0" ref="medias"/>
			<xs:element minOccurs="0" ref="informations_complementaires"/>
			<xs:element minOccurs="0" ref="tags_publics"/>
			<xs:element minOccurs="0" name="pdf_perso" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="langue" type="xs:token" use="required"/>
		<xs:attribute name="publie" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:element name="medias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="images"/>
				<xs:element minOccurs="0" ref="videos"/>
				<xs:element minOccurs="0" ref="sons"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="images">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="image" type="image"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="image">
		<xs:sequence>
			<xs:element minOccurs="0" name="legende" type="xs:string"/>
			<xs:element minOccurs="0" name="url" type="xs:string"/>
			<xs:element minOccurs="0" name="credit" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="nature" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:element name="sons">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="son" type="son"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="son">
		<xs:sequence>
			<xs:element minOccurs="0" name="url" type="xs:string"/>
			<xs:element minOccurs="0" name="credit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="videos">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="video" type="video"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="video">
		<xs:sequence>
			<xs:element minOccurs="0" name="code" type="xs:string"/>
			<xs:element minOccurs="0" name="credit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="informations_complementaires">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="information_complementaire" type="information_complementaire"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="information_complementaire">
		<xs:sequence>
			<xs:element minOccurs="0" name="titre" type="xs:string"/>
			<xs:element minOccurs="0" name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="tags_publics">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="tag_public" type="tag_public"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="tag_public">
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="nom" type="xs:token"/>
	</xs:complexType>

	<xs:complexType name="adresse">
		<xs:sequence>
			<xs:element minOccurs="0" name="num" type="xs:string"/>
			<xs:element minOccurs="0" name="rue" type="xs:string"/>
			<xs:element minOccurs="0" name="ville" type="xs:string"/>
			<xs:element minOccurs="0" name="cp" type="xs:string"/>
			<xs:element minOccurs="0" name="code_insee" type="xs:string"/>
			<xs:element minOccurs="0" name="pays" type="pays"/>
			<xs:element minOccurs="0" name="position" type="position"/>
			<xs:element minOccurs="0" name="altitude" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pays">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code_pays" type="xs:token" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="position">
		<xs:sequence>
			<xs:element minOccurs="0" name="lat" type="xs:float"/>
			<xs:element minOccurs="0" name="lng" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="dates">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="date" type="date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="date">
		<xs:sequence>
			<xs:element minOccurs="0" name="date_debut" type="xs:token"/>
			<xs:element minOccurs="0" name="date_fin" type="xs:token"/>
		</xs:sequence>
		<xs:attribute name="recursivite_annuelle" type="xs:boolean"/>
	</xs:complexType>

	<xs:element name="externalLinks">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="link" type="link"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="link">
		<xs:sequence>
			<xs:element name="a_partir_de" type="xs:token"/>
			<xs:element name="devise" type="xs:token"/>
			<xs:element name="type" type="xs:token"/>
			<xs:element name="lien" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="auteur">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id_utilisateur" type="xs:token"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="diffusion">
		<xs:attribute name="mobile" type="xs:string"/>
		<xs:attribute name="cirkwi" type="xs:string"/>
		<xs:attribute name="reseau" type="xs:string"/>
	</xs:complexType>
</xs:schema>
